In [ ]:
!pip install scikit-plot
from sklearn.preprocessing import LabelEncoder
import pandas as pd

from sklearn.naive_bayes import GaussianNB, BernoulliNB, MultinomialNB
from sklearn.svm import SVC, LinearSVC
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.neural_network import MLPClassifier

from sklearn.metrics import accuracy_score, f1_score
from sklearn.model_selection import train_test_split
from sklearn import metrics, model_selection

import scikitplot as skplt

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/gender-prediction.csv')

Mounted at /content/drive

In [24]:
new_rows = [{'height':80,'weight':190,'beard':'yes','hair_length':'long','shoe_size':35,'scarf':'yes','eye_color':'black','gender':'male'},
            {'height':50,'weight':85,'beard':'no','hair_length':'medium','shoe_size':29,'scarf':'no','eye_color':'brown','gender':'female'},
            {'height':73,'weight':145,'beard':'yes','hair_length':'long','shoe_size':40,'scarf':'yes','eye_color':'blue','gender':'male'},
            {'height':69,'weight':153,'beard':'no','hair_length':'short','shoe_size':31,'scarf':'yes','eye_color':'green','gender':'female'},
            {'height':90,'weight':176,'beard':'no','hair_length':'short','shoe_size':45,'scarf':'no','eye_color':'grey','gender':'female'}]
df = df.append(new_rows, ignore_index=True)
New_df = df
New_df

    height  weight beard hair_length  shoe_size scarf eye_color  gender
0       71     176   yes       short         44    no     black    male
1       68     165    no        bald         41    no     black    male
2       62     132    no      medium         37   yes      blue  female
3       65     138    no        long         38    no      gray  female
4       70     197   yes      medium         43    no      gray    male
..     ...     ...   ...         ...        ...   ...       ...     ...
90      80     190   yes        long         35   yes     black    male
91      50      85    no      medium         29    no     brown  female
92      73     145   yes        long         40   yes      blue    male
93      69     153    no       short         31   yes     green  female
94      90     176    no       short         45    no      grey  female

[95 rows x 8 columns]

In [ ]:
New_df = New_df.drop(['beard','hair_length','scarf','eye_color','gender'], axis=1)
New_df

    height  weight  shoe_size
0       71     176         44
1       68     165         41
2       62     132         37
3       65     138         38
4       70     197         43
..     ...     ...        ...
80      80     190         35
81      50      85         29
82      73     145         40
83      69     153         31
84      90     176         45

[85 rows x 3 columns]

In [ ]:
labels = LabelEncoder()
beard_encoded = labels.fit_transform(df['beard'])
hair_length_encoded = labels.fit_transform(df['hair_length'])
scarf_encoded = labels.fit_transform(df['scarf'])
eye_color_encoded = labels.fit_transform(df['eye_color'])
gender_encoded = labels.fit_transform(df['gender'])

New_df['beard'] = beard_encoded
New_df['hair_length'] = hair_length_encoded
New_df['scarf'] = scarf_encoded
New_df['eye_color'] = eye_color_encoded
New_df['gender'] = gender_encoded
New_df

    height  weight  shoe_size  beard  hair_length  scarf  eye_color  gender
0       71     176         44      1            3      0          0       1
1       68     165         41      0            0      0          0       1
2       62     132         37      0            2      1          1       0
3       65     138         38      0            1      0          3       0
4       70     197         43      1            2      0          3       1
..     ...     ...        ...    ...          ...    ...        ...     ...
80      80     190         35      1            1      1          0       1
81      50      85         29      0            2      0          2       0
82      73     145         40      1            1      1          1       1
83      69     153         31      0            3      1          4       0
84      90     176         45      0            3      0          5       0

[85 rows x 8 columns]

In [ ]:
train = New_df.drop([80,81,82,83,84])
train

In [22]:
x = train.drop('gender', axis=1)
y = train['gender']

data = {'height':[80,50,73,69,90],
        'weight':[190,85,145,153,176],
        'shoe_size':[35,19,40,31,45],
        'beard':[1,0,1,0,0],
        'hair_length':[1,2,1,3,3],
        'scarf':[1,0,1,1,0],
        'eye_color':[0,2,1,4,5]
        }

test = pd.DataFrame(data)
test

   height  weight  shoe_size  beard  hair_length  scarf  eye_color
0      80     190         35      1            1      1          0
1      50      85         19      0            2      0          2
2      73     145         40      1            1      1          1
3      69     153         31      0            3      1          4
4      90     176         45      0            3      0          5

In [23]:
model = GaussianNB()                            # male = 1
                                                # female = 0
model.fit(x,y)
prediction = model.predict(test)
prediction

array([0, 1, 0, 0, 1])

In [ ]:
Accuracy = accuracy_score(y_test, prediction)*100
print('Accuracy of Model is: ',Accuracy,'\n')

model_cl_rep = metrics.classification_report(y_test, prediction)
print(model_cl_rep)

model_cm = metrics.confusion_matrix(y_test, prediction)
print(model_cm)